
/********** Contact Us CSS Starts **********/   
.contact-us div {
     color:#Ba2424;
     font-family:arial;
     font-size:30px;
     width:70%;
     margin-left:360px;
     float:left;
     line-height:40px;
     margin-top:160px;
}